{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid mb-1">
        <div class="container">
            <h1 class="display-4 mb-4">Hello {{ user.username }}!</h1>
            <p class="lead">You're On A Roll!</p>
            <p class="lead">Keep It Up!</p>
        </div>

        <!-- Logout Button -->
        <div class="m-5" style="position: absolute; right: 0; top: 0;">
            <form action="{% url "users:logout" %}" method="POST">
                {% csrf_token %}
                <button style="width: 125px;" type="submit" class="btn btn-primary btn-lg">Logout</button>
            </form>
        </div>

    </div>

    <div class="container h-100 mb-4">

    <!-- Add Workout Button -->
    <div class="row justify-content-center align-items-center w-100 mx-0 px-0">
        <a class="w-100" href={% url "workouts:submit" %}><button class="btn btn-success btn-lg w-100 mb-5 mt-5">Push It Harder!</button></a>
    </div>

        <div class="row justify-content-center align-items-center w-100 mx-0 px-0">

                {% for workout in workouts %}
                    <div class="col-12 justify-content-center">
                    <hr>
                    <h3 class="mb-3">{{ workout.exercise }}</h3>
                    <p class="lead">{{ workout.duration }} Minutes</p>
                    <p class="lead">{{ workout.date }}</p>
                    <hr>
                    </div>
                {% endfor %}

        </div>
    </div>

{% endblock %}
